*.iml
.kotlin/
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build outputs
/app/build/
*.apk
reference/roms/*.zip
reference/roms/*.7z
reference/roms/*.bin
reference/roms/*.nsp
reference/roms/*.keys
reference/roms/
